body {
      font-family: 'Noto Sans Bengali', sans-serif;
      background-color: #ceeeeb;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

.container {
      background-color:#d3f6f3;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 40px;
      width: 100%;
      max-width: 480px;
      text-align: center;
    }

h1 {
      font-size: 1.8rem;
      color:#00897b;
      margin-bottom: 10px;
    }

p {
      font-size: 1rem;
      color: #34373b;
    }

 .input-field {
      width: 100%;
      padding: 12px;
      margin: 20px 0;
      border: 1px solid #D1D5DB;
      border-radius: 8px;
      font-size: 1rem;
      color: #4B5563;
      box-sizing: border-box;
      min-height: 100px;
      resize: vertical;
    }

 .submit-btn {
      background-color: #00897b;
      color: #ffffff;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      width: 100%;
    }

.submit-btn:hover {
      background-color: #00897b;
    }

 .notification {
      background-color: #aed7d3;
      padding: 12px;
      margin-top: 20px;
      border-radius: 8px;
      color: #13504a;
      font-size: 1rem;
      display: none;
    }
