
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Bengali", sans-serif;
}

body {
  background:  #e0f2f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  background: #0e9282;
  color: white;
  padding: 15px 20px;
  text-align: center;
  position: relative;
}

.header-buttons {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.header-buttons button {
  background: #2b6c61;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  
}

.header-buttons button:hover {
  background: #00796b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  flex: 1;
}
.card {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 750px;
}

.card h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #004d40;
}

label {
  display: block;
  margin-top: 40px;
  color: #004d40;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  background: #004d40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

button[type="submit"]:hover {
  background: #00796b;
}
.result-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 280px;
}

.result-card h2 {
  color: #1c7768;
  margin-bottom: 20px;
}

.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #258171;
  font-weight: bold;
}
.site-footer {
  text-align: center;
  background: #00695c;
  color: white;
  padding: 10px;
  font-size: 14px;
}
