* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; 
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/free-photo/doctor-equipment-medical-background_1150-19613.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(0.8);
  z-index: -1;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans Bengali", "Segoe UI", Arial, sans-serif;
  /* background: linear-gradient(to right,#e0f2f1);  */
  color: #1d1c1c;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.site-header {
  background-color: #00897b;
  color: white;
  padding: 25px 0;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
}

.site-footer {
  background-color: #004d40;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  color: #e0f2f1;
}

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card {
  background-color: white;
  width: 600px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.card h2 {
  margin-bottom: 15px;
  color: #3c7b70; 
  font-size: 1.8rem;
}

.card p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-top: 12px;
  font-weight: 600;
  color: #383838;
}

input {
  margin-top: 6px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

input:focus {
  border-color: #004d40; 
  outline: none;
}

button {
  margin-top: 20px;
  padding: 14px;
  font-size: 1rem;
  background-color: #67a398; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color:#b2dfdb; 
  color: #004d40;
  
}

.a1 {
  text-decoration: none;
  color: rgb(39, 36, 36);
  font-size: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.outline {
  color: #191a1a; 
}

.outline:hover {
  background-color: #b2dfdb;
  color: #004d40; 
}
